@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

table tbody td a div img.left {
  top: -15px;
  left: -15px;
}

table tbody td a div img.right {
  top: -15px;
  right: -15px;
}


img.number {
  top: 50px;
  left: 50px;
}